In [1]:
import pandas as pd

/Users/annaohanyan/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
data = pd.read_csv("crime_data.csv")
data.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,241711715,08/01/2024 12:00:00 AM,08/01/2024 12:00:00 AM,1319,17,Devonshire,1791,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,IC,Invest Cont,440.0,NaN,NaN,NaN,8300 KELVIN AV,NaN,34.2200,-118.5863
1,231014031,09/21/2023 12:00:00 AM,09/15/2023 12:00:00 AM,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,18900 CANTLAY ST,NaN,34.2023,-118.5458
2,231010808,06/27/2023 12:00:00 AM,06/26/2023 12:00:00 AM,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7300 ENFIELD AV,NaN,34.2033,-118.5241
3,211410441,04/25/2021 12:00:00 AM,04/25/2021 12:00:00 AM,2330,14,Pacific,1488,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,IC,Invest Cont,626.0,NaN,NaN,NaN,5800 W CENTURY BL,NaN,33.9456,-118.3835
4,211114569,10/25/2021 12:00:00 AM,10/25/2021 12:00:00 AM,1455,11,Northeast,1123,1,210,ROBBERY,...,IC,Invest Cont,210.0,NaN,NaN,NaN,2900 LOS FELIZ BL,NaN,0.0000,0.0000

In [4]:
data.isna().sum()

DR_NO                 0
Date Rptd             0
DATE OCC              0
TIME OCC              0
AREA                  0
AREA NAME             0
Rpt Dist No           0
Part 1-2              0
Crm Cd                0
Crm Cd Desc           0
Mocodes            7498
Vict Age              0
Vict Sex           7163
Vict Descent       7165
Premis Cd             0
Premis Desc          29
Weapon Used Cd    33654
Weapon Desc       33654
Status                0
Status Desc           0
Crm Cd 1              2
Crm Cd 2          46448
Crm Cd 3          49885
Crm Cd 4          49995
LOCATION              0
Cross Street      42258
LAT                   0
LON                   0
dtype: int64

In [19]:
missing50 = data.isna().sum()[data.isna().sum() > (0.5 * len(data))].index
data_cleaned = data.drop(columns=missing50)
print("Columns dropped:", missing50)

Columns dropped: Index(['Weapon Used Cd', 'Weapon Desc', 'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4',
       'Cross Street'],
      dtype='object')

In [20]:
data_cleaned['DATE OCC'] = pd.to_datetime(data_cleaned['DATE OCC'])
data_cleaned['Year'] = data_cleaned['DATE OCC'].dt.year
data_cleaned['Month'] = data_cleaned['DATE OCC'].dt.month
data_cleaned['Day'] = data_cleaned['DATE OCC'].dt.day

/var/folders/08/3hxb6xsd6qq61bzjxpkf6q3c0000gn/T/ipykernel_2317/3102685836.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data_cleaned['DATE OCC'] = pd.to_datetime(data_cleaned['DATE OCC'])

In [22]:
data_cleaned['Hour'] = data_cleaned['TIME OCC'].astype(str).str.zfill(4).str[:2].astype(int)
data_cleaned.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON,Year,Month,Day,Hour
0,241711715,08/01/2024 12:00:00 AM,2024-08-01,1319,17,Devonshire,1791,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,IC,Invest Cont,440.0,8300 KELVIN AV,34.2200,-118.5863,2024,8,1,13
1,231014031,09/21/2023 12:00:00 AM,2023-09-15,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,18900 CANTLAY ST,34.2023,-118.5458,2023,9,15,19
2,231010808,06/27/2023 12:00:00 AM,2023-06-26,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,7300 ENFIELD AV,34.2033,-118.5241,2023,6,26,12
3,211410441,04/25/2021 12:00:00 AM,2021-04-25,2330,14,Pacific,1488,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,IC,Invest Cont,626.0,5800 W CENTURY BL,33.9456,-118.3835,2021,4,25,23
4,211114569,10/25/2021 12:00:00 AM,2021-10-25,1455,11,Northeast,1123,1,210,ROBBERY,...,IC,Invest Cont,210.0,2900 LOS FELIZ BL,0.0000,0.0000,2021,10,25,14

In [25]:
data_filtered = data_cleaned[(data_cleaned['Year'] == 2023) & (data_cleaned['Crm Cd Desc'] == 'BURGLARY')]
data_cleaned[(data_cleaned['Year'] == 2023)]

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON,Year,Month,Day,Hour
1,231014031,09/21/2023 12:00:00 AM,2023-09-15,1930,10,West Valley,1011,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,18900 CANTLAY ST,34.2023,-118.5458,2023,9,15,19
2,231010808,06/27/2023 12:00:00 AM,2023-06-26,1230,10,West Valley,1015,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,7300 ENFIELD AV,34.2033,-118.5241,2023,6,26,12
9,230710008,05/24/2023 12:00:00 AM,2023-04-11,900,7,Wilshire,721,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,100 S DOHENY DR,34.0750,-118.3897,2023,4,11,9
11,231306866,02/24/2023 12:00:00 AM,2023-02-24,1030,13,Newton,1361,1,761,BRANDISH WEAPON,...,IC,Invest Cont,761.0,200 W 48TH ST,33.9992,-118.2762,2023,2,24,10
13,230714059,08/31/2023 12:00:00 AM,2023-08-30,1148,7,Wilshire,723,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),...,IC,Invest Cont,442.0,7900 BEVERLY BL,34.0761,-118.3616,2023,8,30,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49986,231116425,12/04/2023 12:00:00 AM,2023-12-03,1900,11,Northeast,1133,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,AA,Adult Arrest,626.0,3400 CASITAS AV,34.1184,-118.2547,2023,12,3,19
49988,231310722,05/15/2023 12:00:00 AM,2023-05-09,2030,13,Newton,1307,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,1600 E OLYMPIC BL,34.0349,-118.2436,2023,5,9,20
49990,230500901,11/12/2023 12:00:00 AM,2023-11-12,1315,5,Harbor,515,1,310,BURGLARY,...,IC,Invest Cont,310.0,1500 BAY VIEW AV,33.7929,-118.2710,2023,11,12,13
49991,230319041,11/01/2023 12:00:00 AM,2023-10-30,1830,3,Southwest,355,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,...,AO,Adult Other,626.0,3700 S WESTERN AV,34.0219,-118.3133,2023,10,30,18
49993,230313342,07/10/2023 12:00:00 AM,2023-07-10,600,3,Southwest,363,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,3700 S VICTORIA AV,34.0180,-118.3363,2023,7,10,6

In [29]:
grouped = data_filtered.groupby('AREA NAME').agg(
    Total_Crimes=('Crm Cd Desc', 'count'),
    Avg_Victim_Age=('Vict Age', 'mean')
).sort_values(by='Total_Crimes', ascending=False)
grouped

             Total_Crimes  Avg_Victim_Age
AREA NAME
Devonshire             58       43.896552
West LA                58       40.879310
Olympic                53       30.283019
West Valley            52       35.173077
N Hollywood            50       29.660000
Wilshire               48       39.041667
Pacific                48       24.520833
Van Nuys               44       41.704545
Southwest              32       35.656250
77th Street            31       30.129032
Topanga                30       42.300000
Central                29       22.241379
Rampart                26       24.653846
Hollywood              25       28.240000
Northeast              25       32.120000
Newton                 24       20.333333
Hollenbeck             22       19.318182
Harbor                 22       27.818182
Foothill               18       35.888889
Southeast              16       40.750000
Mission                14       42.571429

In [32]:
top_crime = data['Crm Cd Desc'].value_counts()
top_crime.head(3)

Crm Cd Desc
VEHICLE - STOLEN            5733
BATTERY - SIMPLE ASSAULT    3715
THEFT OF IDENTITY           3169
Name: count, dtype: int64

In [33]:
data_cleaned.groupby('Hour').value_counts().count()

42463

In [36]:
crimes_by_hour = data_cleaned.groupby('Hour').size()
crimes_by_hour

Hour
0     2025
1     1490
2     1241
3     1063
4      975
5      848
6     1106
7     1302
8     1776
9     1841
10    2110
11    2114
12    3446
13    2246
14    2504
15    2667
16    2597
17    2914
18    3015
19    2762
20    2830
21    2553
22    2469
23    2106
dtype: int64

In [39]:
victims = data_cleaned.groupby('Vict Sex').agg(
    Total_Crimes=('Crm Cd Desc', 'count'),
    Avg_Victim_Age=('Vict Age', 'mean')
)
print(victims)

          Total_Crimes  Avg_Victim_Age
Vict Sex
F                17922       38.164156
H                    3       36.333333
M                20076       37.165621
X                 4836        2.672043

In [42]:
data['Severity Score'] = 0
data.loc[data['Weapon Used Cd'].notna(), 'Severity Score'] += 5
data.loc[data['Crm Cd Desc'] == 'BURGLARY', 'Severity Score'] += 3
data.loc[data['Severity Score'] == 0, 'Severity Score'] = 1

data[['Weapon Used Cd', 'Crm Cd Desc', 'Severity Score']]

,Weapon Used Cd,Crm Cd Desc,Severity Score
0,NaN,THEFT PLAIN - PETTY ($950 & UNDER),1
1,NaN,THEFT OF IDENTITY,1
2,NaN,THEFT OF IDENTITY,1
3,400.0,INTIMATE PARTNER - SIMPLE ASSAULT,5
4,200.0,ROBBERY,5
...,...,...,...
49995,400.0,BATTERY POLICE (SIMPLE),5
49996,304.0,ROBBERY,5
49997,NaN,BURGLARY,3
49998,400.0,INTIMATE PARTNER - SIMPLE ASSAULT,5
49999,400.0,SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO...,5

In [45]:
s = data.groupby('AREA NAME')['Severity Score'].sum()
s

AREA NAME
77th Street    9298
Central        8625
Devonshire     4510
Foothill       3856
Harbor         4949
Hollenbeck     4454
Hollywood      6707
Mission        4499
N Hollywood    5476
Newton         6815
Northeast      4476
Olympic        6275
Pacific        6652
Rampart        6267
Southeast      7162
Southwest      7029
Topanga        4541
Van Nuys       4751
West LA        4763
West Valley    4994
Wilshire       5212
Name: Severity Score, dtype: int64

In [46]:
#Extra
lat_min, lat_max = 34.0400, 34.0600 
lon_min, lon_max = -118.2700, -118.2400
downtown_crimes = df_cleaned[(df_cleaned['LAT'] >= lat_min) & (df_cleaned['LAT'] <= lat_max) &
                             (df_cleaned['LON'] >= lon_min) & (df_cleaned['LON'] <= lon_max)]
print(downtown_crimes)

           DR_NO               Date Rptd                DATE OCC  TIME OCC  \
10     200213278  08/02/2020 12:00:00 AM  08/01/2020 12:00:00 AM       700
16     240111628  05/20/2024 12:00:00 AM  05/19/2024 12:00:00 AM      1850
25     220120317  09/12/2022 12:00:00 AM  08/23/2022 12:00:00 AM      1200
31     210212596  07/29/2021 12:00:00 AM  07/29/2021 12:00:00 AM      1120
61     200120593  11/04/2020 12:00:00 AM  11/02/2020 12:00:00 AM      2030
...          ...                     ...                     ...       ...
49931  230115760  07/10/2023 12:00:00 AM  07/10/2023 12:00:00 AM       830
49951  200117094  08/28/2020 12:00:00 AM  08/17/2020 12:00:00 AM      2035
49957  230119966  09/15/2023 12:00:00 AM  09/15/2023 12:00:00 AM      2300
49976  220111411  05/01/2022 12:00:00 AM  05/01/2022 12:00:00 AM       225
49982  220108638  03/20/2022 12:00:00 AM  06/27/2021 12:00:00 AM         1

       AREA AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
10        2   Rampart          249         1     420
16        1   Central          161         1     442
25        1   Central          156         1     310
31        2   Rampart          257         1     420
61        1   Central          176         2     740
...     ...       ...          ...       ...     ...
49931     1   Central          171         1     122
49951     1   Central          182         1     331
49957     1   Central          185         2     624
49976     1   Central          182         1     210
49982     1   Central          185         1     310

                                             Crm Cd Desc  ... Vict Sex  \
10       THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)  ...      NaN
16              SHOPLIFTING - PETTY THEFT ($950 & UNDER)  ...        X
25                                              BURGLARY  ...        M
31       THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)  ...        F
61     VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...  ...        F
...                                                  ...  ...      ...
49931                                    RAPE, ATTEMPTED  ...        F
49951  THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...  ...        F
49957                           BATTERY - SIMPLE ASSAULT  ...        M
49976                                            ROBBERY  ...        M
49982                                           BURGLARY  ...        F

       Vict Descent Premis Cd                                   Premis Desc  \
10              NaN     108.0                                   PARKING LOT
16                X     203.0                                OTHER BUSINESS
25                B     502.0  MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)
31                B     101.0                                        STREET
61                W     122.0                      VEHICLE, PASSENGER/TRUCK
...             ...       ...                                           ...
49931             H     101.0                                        STREET
49951             B     507.0                         CONDOMINIUM/TOWNHOUSE
49957             H     203.0                                OTHER BUSINESS
49976             W     123.0                  PARKING UNDERGROUND/BUILDING
49982             B     502.0  MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)

       Status   Status Desc Crm Cd 1                                 LOCATION  \
10         IC   Invest Cont    420.0  1100    WILSHIRE                     BL
16         IC   Invest Cont    442.0   700 S  FIGUEROA                     ST
25         IC   Invest Cont    310.0   500    WALL                         ST
31         IC   Invest Cont    420.0          7TH                          ST
61         IC   Invest Cont    740.0          8TH                          ST
...       ...           ...      ...                                      ...
49931      AA  Adult Arrest    122.0                                  OLYMPIC
49951      IC   Invest Cont    331.0  1000 S  GRAND                        AV
49957      AO   Adult Other    624.0  1000 S  HILL                         ST
49976      AA  Adult Arrest    210.0  1200 S  GRAND                        AV
49982      IC   Invest Cont    310.0                         1000 S  BROADWAY

           LAT       LON
10     34.0523 -118.2633
16     34.0483 -118.2631
25     34.0449 -118.2458
31     34.0517 -118.2663
61     34.0408 -118.2512
...        ...       ...
49931  34.0466 -118.2685
49951  34.0421 -118.2614
49957  34.0417 -118.2584
49976  34.0401 -118.2633
49982  34.0409 -118.2574

[2816 rows x 22 columns]